<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation confirmée</title>
    <style>
        .center {
            text-align: center;
            margin-top: 50px; 
        }
    </style>
</head>
<body>
    <h1 class="center">Réservation confirmée</h1>
    <p class="center">Votre réservation a été effectuée avec succès !</p>
    <p class="center">Numéro de réservation : {{ reservation_id }}</p> <!-- Ajout de la variable reservation_id -->
</body>
</html>
